# Env / secrets
.env
*.pem
kubeconfig*

# Terraform (weeks 3–4)
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# OS/editor
.DS_Store
.idea/
.vscode/
